body{
    margin:0;
    padding:0;

    text-align: center;
    justify-self: center;
    background: lightyellow;
}

header nav{
    display:flex;
    justify-content: space-between;
    background: lightslategrey;
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header ul li{
    display:inline;
    width: 400px;
    padding-right: 20px;
}

header a{
    text-decoration: none;
}

header a:visited{
    color: blanchedalmond;
}

header a:hover{
    text-decoration: underline;
    background:blanchedalmond;
    color:lightslategrey;
}

header img{
    width:10%;
}

#checkbox{
    text-align: center;
    justify-content: center;
    justify-self: center;
}

section{
    border: 2px solid black;
    border-radius: 25%;
    width:600px;
    height: 70vh;
    margin: 10% auto;
    background: lightslategrey;
    color: blanchedalmond;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#zvE2{
 margin: 0 auto;
}

#button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: burlywood;
color: cadetblue;
}

#button:hover{
    background: cadetblue;
color: burlywood;
}